@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/**************** COLORS *******************/

:root{
    --big-color: #080808;
    --second-big-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--big-color);
    color: var(--text-color);
}

/******************************** NAVBAR **********************************/

header .container{
    padding: 30px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav ul a{
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav ul a:hover{
    color: var(--main-color);
}

nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ffee;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}

nav .fa-solid{
    font-size: 20px;
    display: none;
    cursor: pointer;
}

/******************************************** HERO SECTION ********************************/

#home{
    width: 100%;
    height: 100vh;
    background: var(--big-color);
}

.home .home-content{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
    align-items: center;
    margin-top: -3.2rem;
}

.home .home-content .left{
    width: 50%;
}

span{
    color: var(--main-color);
}

.home .home-content .left h3{
    font-size: 3rem;
}

.home .home-content .left h1{
    font-size: 5rem;
    font-weight: 700;
}

.home .home-content .left p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin: 15px 0;
}

.home .home-content .home-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home .home-content .home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

/**************** HIRE ME AND CONTACT ME BUTTONS *********************/

.home-content .btnGroup{
    display: flex;
    padding: 20px 0;
}

.home-content .btnGroup a{
    text-decoration: none;
}

.home-content .btnGroup .btn2 button{
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid var(--main-color);
    outline: none;
    background: var(--big-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.home-content .btnGroup .btn2 button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: var(--main-color);
    color: var(--big-color);
    box-shadow: 0 0 50px var(--main-color);
} 

/************ TEXT ANIMATION *******************/

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "Web Designer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after{
    position: absolute;
    content: "";
    background-color: var(--big-color);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--big-color);
    right: -8px;
    animation: cursor 0.6s  infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Front-End Developer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI / UX Designer";
    }
    61%,
    80%{
        content: "Back-End Developer";
    }
    100%{
        content: "Software Engineer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

/*********************** EDUCATION *******************************/

.heading{
    font-size: 6rem;
    text-align: center;
}

.education{
    padding: 10px 0 5rem;
    background-color: var(--second-big-color);
}

.education h2{
    margin-bottom: 4rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    width: 21px;
    height: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--big-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--big-color);
    width: 50px;
}

/********************* Services **************************/

#services{
    padding: 10px 12% 2rem;
}

.services{
    background: var(--big-color);
    color: #000;
}

.services h2{
    margin-bottom: 3rem;
    color: #fff;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 40px;
}

.service-box{
    background-color: var(--main-color);
    height: 200px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.service-box:hover{
    background-color: #fff;
    color: #000;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    padding: 2rem;
}

.service-info h4{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2;
}

.service-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}

/******************** PROJECTS ************************/

.projects{
    padding:20px;
    background-color: var(--second-big-color);
}

.projects h2{
    margin-bottom: 4rem;
}

/******************** CONTACT ME ************************/

#contact{
    padding: 1rem 10% 5rem;
}

.sub-title{
    font-size: 55px;
    font-weight: 600;
    color: #fff;
    margin-top: 5rem;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}

.contact-left .last{
    margin-bottom: 30px;
}

.contact-left p i{
    color: var(--main-color);
    margin-right: 15px;
    font-size: 18px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--main-color);
    font-weight: bold;
    color: var(--big-color);
}

.btn.btn3{
    display: inline-block;
    background: var(--main-color);
    color: var(--big-color);
    font-weight: bold;
}

.contact-right form{
    margin-top: 5rem;
    width: 100%;
}

form input, form textarea{
    width: 100%;
    background: var(--second-big-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 6px;
}

form .btn3{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#msg{
    color: #61b752;
    display: block;
    margin-top: -40px;
    font-size: 2rem;
}

/**************************** FOOTER **********************/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: var(--second-big-color);
}

.footer .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}


/*************************************** RESPONSIVENESS ********************************/

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 2rem 2% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        align-items: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }

    #services{
        padding: 7.5rem 0 10rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .row{
        flex-direction: column;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:950px){
    nav .fa-solid{
        display: block;
    }

    nav ul{
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        color: #000;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul a:hover{
        color: #000;
    }

    nav ul a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    nav ul a:hover::after{
        width: 100%;
    }

    nav ul a{
        color: #000;
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    #home{
        width: 100%;
        height: 150vh;
    }

    .home .home-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 5rem;
    }

    .home .home-content .left{
        width: 100%;
    }

    .home .home-content .home-img{
        margin-top: 14rem;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .text-animation{
        min-width: 400px;
    }
    
    .services h2{
        margin-bottom: 3rem;
    }

    .services-container{
        grid-template-columns: repeat(1,1fr);
    }

    .row{
        flex-direction: column;
    }

}

@media(max-width:480px){
    #home{
        width: 100%;
        height: 135vh;
    }

    .home .home-content{
        padding: 0 10px;
    }

    .home .home-content .left h3{
        font-size: 2rem;
    }
    
    .home .home-content .left h1{
        font-size: 4rem;
    }

    .home .home-content .home-img img{
        width: 310px;
        height: 310px;
    }

    .timeline-content h3{
        font-size: 16px;
    }

    .timeline-content p{
        font-size: 13px;
    }

    .service-info h4{
        font-size: 2rem;
    }

    .service-info p{
        font-size: 1.4rem;
    }

    .sub-title{
        font-size: 45px;
    }

}


